#slider1_container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 940px;
    height: 400px;
    border:5px solid #367196;
}

#slider1_container .wrap{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 930px;
    height: 390px;
    overflow: hidden;
}

.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    background-color:#2f3336;
    overflow:hidden;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.jssorb03 div {
    background-color:#2f3336;
}

.jssorb03 div:hover, .jssorb03 .av:hover {
    background-color:#9bb8cb;
}

.jssorb03 .av {
    background-color:#9bb8cb;
}

.jssorb03 .dn, .jssorb03 .dn:hover {
    background-color:#9bb8cb;
}

.jssorb03 {
    position: absolute;
    top: 376px;
    height: 20px;
}

.jssorb03 div{
    position: absolute;
    width: 6px;
    height: 6px !important;
    text-align:center;
    line-height:21px;
    color:white;
    font-size:12px;
}

.jssorb03 div span{
    display: none;
}

/*selecter*/
.select-button {z-index: 10}

.selecter { display: block; margin: 10px 0; position: relative; max-width: 100%; z-index: 1;}

.selecter .selecter-element { *left: -999999px; height: 100%; left: 0; position: absolute; opacity: 0; width: 100%; z-index: 0; }
.selecter .selecter-element,
.selecter .selecter-element:focus { outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.selecter .selecter-selected {text-shadow: 1px 1px 0 #5699c2;cursor: pointer; display: block; margin: 0; overflow: hidden; padding: 8px 10px; position: relative; text-overflow: clip; z-index: 2; }
.selecter .selecter-options { border: 1px solid #ccc; border-width: 0 1px 1px; background-color: #fefefe; border-radius: 0 0 3px 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); display: none; left: 0; margin: 0; max-height: 158px; overflow: auto; overflow-x: hidden; padding: 0; position: absolute; top: 100%; width: 100%; *width: auto; z-index: 50; }
.selecter .selecter-group { background: #F9F9F9; border-bottom: 1px solid #e3e3e3; color: #999; display: block; font-size: 11px; padding: 5px 10px 4px; text-transform: uppercase; }
.selecter .selecter-item { width: 95%;background: #fff; border-bottom: 1px solid #e3e3e3; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 8px 10px; text-overflow: ellipsis;}
.selecter .selecter-item.placeholder { display: none; }
.selecter .selecter-item.selected { background: #F9F9F9; }
.selecter .selecter-item.disabled { color: #999; cursor: default; }
.selecter .selecter-item:first-child { border-radius: 0; }
.selecter .selecter-item:last-child { border-bottom: 0; }
.selecter-item:hover {background-color: #f5f5f5;}

/* Open */
.selecter.open { z-index: 3; }
.selecter.open .selecter-selected { z-index: 51; }

/* 'Cover' Positioning */
.selecter.cover .selecter-options {border-width: 1px; top: 0; }
.selecter.cover.open .selecter-selected { z-index: 49; }

/* 'Bottom' Positioning */
.selecter.bottom .selecter-options { border-width: 1px 1px 0; bottom: 100%; top: auto; }
.selecter.bottom .selecter-item:last-child { border: none; }

/* 'Bottom' + 'Cover' Positioning */
.selecter.bottom.cover .selecter-options { bottom: 0; top: auto; }

/* Multiple Select */
.selecter.multiple .selecter-options { border-width: 1px; box-shadow: none; display: block; position: static; width: 100%; }

/* 'Disabled' State */
.selecter.disabled .selecter-selected { background: #fff; border-color: #eee; color: #ccc; cursor: default; }
.selecter.disabled .selecter-options { background: #fff; border-color: #eee; }
.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item { border-color: #eee; color: #ccc; cursor: default; }
.selecter.disabled .selecter-item.selected { background: #fafafa; }

/* Scroller Support */
.selecter .selecter-options.scroller { overflow: hidden; }
.selecter .selecter-options.scroller .scroller-content { max-height: 260px; padding: 0; }