* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff; }

body {
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll; }

div, p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0; }

a, a:link, a:visited, a:hover {
  -o-text-decoration: none;
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/**/
*:first-child + html .clearfix {
  zoom: 1; }

/**/
.wrapper {
  width: 960px;
  height: 100%;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif; }

.header {
  width: 100%;
  color: #fff; }
  .header .header-top {
    width: 100%;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 11px;
    padding-left: 22px;
    background-color: #367196; }
    .header .header-top .logo, .header .header-top .slogan {
      float: left; }
    .header .header-top .call {
      float: right; }
    .header .header-top .logo {
      width: 190px;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase; }
      .header .header-top .logo span {
        color: #65cc80; }
      .header .header-top .logo:before {
        content: "";
        float: left;
        width: 28px;
        height: 40px;
        margin-right: 11px;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat; }
    .header .header-top .slogan {
      margin-top: 12px;
      font-weight: 700;
      font-size: 24px;
      font-family: "Noto Sans", sans-serif; }
    .header .header-top .call .phonenumb {
      margin-top: 8px; }
      .header .header-top .call .phonenumb a[href^="tel"] {
        text-align: right; }
    .header .header-top .call p {
      margin-top: 3px;
      margin-right: auto;
      margin-left: auto;
      line-height: 12px;
      text-align: center; }
  .header .header-menu {
    color: #000; }
    .header .header-menu ul {
      float: right;
      margin-top: 13px;
      margin-bottom: 11px; }
      .header .header-menu ul .active {
        color: #80afcd;
        -o-text-decoration: underline;
        text-decoration: underline; }
      .header .header-menu ul li:hover {
        color: #80afcd; }
    .header .header-menu li {
      float: left;
      margin-right: 25px;
      font-weight: 600;
      font-size: 13px;
      text-transform: uppercase; }

.content {
  position: relative; }

#slider1_container {
  color: #fff; }
  #slider1_container .form {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 240px;
    padding-top: 20px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 24px;
    background-color: #367196; }
    #slider1_container .form input {
      border: none;
      outline: none; }
    #slider1_container .form .field {
      margin-top: 9px;
      margin-bottom: 13px;
      background-color: #9bb8cb; }
      #slider1_container .form .field input, #slider1_container .form .field select {
        padding: 10px 15px;
        color: #fff;
        text-align: left;
        background: none;
        border: none;
        outline: none;
        text-shadow: 1px 1px 0 #5699c2; }
    #slider1_container .form .user {
      background-image: url("../img/user.png");
      background-repeat: no-repeat;
      background-position: 11px 7px; }
    #slider1_container .form .phone {
      background-image: url("../img/phone.png");
      background-repeat: no-repeat;
      background-position: 11px 10px; }
    #slider1_container .form .user input, #slider1_container .form .phone input {
      width: 65.5%;
      background-repeat: no-repeat;
      background-position: 125px 7px; }
    #slider1_container .form .service {
      position: relative; }
      #slider1_container .form .service .select-button {
        position: absolute;
        bottom: 27%;
        right: 6px;
        display: block;
        width: 19px;
        height: 16px;
        background-image: url("../img/dbut.png"); }
    #slider1_container .form .buy {
      text-align: center; }
      #slider1_container .form .buy input {
        width: 100%;
        margin-top: 5px;
        padding: 13px 0;
        font-weight: 700;
        font-size: 14px;
        color: #367196;
        background: #fff; }
    #slider1_container .form p {
      width: 150px;
      margin-top: 9px;
      margin-right: auto;
      margin-left: auto;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      text-transform: uppercase; }
  #slider1_container .wrap span {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 20px 60px;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: rgba(88, 135, 165, 0.7); }
    #slider1_container .wrap span:hover {
      -o-text-decoration: underline;
      text-decoration: underline;
      background-color: rgba(88, 135, 165, 0.9); }

.conttop {
  height: 100%;
  padding-top: 34px;
  padding-bottom: 42px;
  background-color: #f7efef; }
  .conttop .index_link:hover {
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0 0 7px #c5c5c5;
    -moz-box-shadow: 0 0 7px #c5c5c5;
    box-shadow: 0 0 7px #c5c5c5; }
  .conttop .main {
    width: 100%;
    margin-bottom: 17px;
    padding-right: 17px;
    font-weight: 700;
    font-size: 26px;
    font-family: "Noto Sans", sans-serif;
    color: #367196;
    text-align: center; }
  .conttop .blocks {
    width: 100%; }
    .conttop .blocks .block33 {
      position: relative;
      float: left;
      width: 313px;
      margin-bottom: 5px;
      padding-right: 10px;
      padding-left: 10px; }
    .conttop .blocks .block50 {
      position: relative;
      float: left;
      width: 50%;
      margin-bottom: 5px;
      padding-right: 10px;
      padding-left: 10px; }
      .conttop .blocks .block50 .wrap {
        width: 275px; }
      .conttop .blocks .block50:nth-child(odd) .wrap {
        float: right;
        margin-right: 67px; }
        .conttop .blocks .block50:nth-child(odd) .wrap .old {
          right: 91px; }
        .conttop .blocks .block50:nth-child(odd) .wrap .new {
          right: 70px; }
      .conttop .blocks .block50:nth-child(even) .wrap {
        float: left;
        margin-left: 67px; }
        .conttop .blocks .block50:nth-child(even) .wrap .old {
          left: 91px; }
        .conttop .blocks .block50:nth-child(even) .wrap .new {
          left: 70px; }
        .conttop .blocks .block50:nth-child(even) .wrap .old .tail-other {
          float: left;
          display: inline-block;
          width: 6px;
          height: 24px;
          background-position: -122px -179px; }
        .conttop .blocks .block50:nth-child(even) .wrap .new .tail-other {
          float: left;
          display: inline-block;
          width: 8px;
          height: 31px;
          background-position: -100px -179px; }
    .conttop .blocks .wrap {
      margin-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px; }
    .conttop .blocks .pichead {
      height: 75px;
      width: 272px;
      display: table-cell;
      vertical-align: bottom; }
      .conttop .blocks .pichead .sofa, .conttop .blocks .pichead .auto, .conttop .blocks .pichead .clean_carpet, .conttop .blocks .pichead .window, .conttop .blocks .pichead .general_clean, .conttop .blocks .pichead .vestibule_carpets {
        background-image: url("../img/sprites.png"); }
      .conttop .blocks .pichead .carwash, .conttop .blocks .pichead .armchair, .conttop .blocks .pichead .tire, .conttop .blocks .pichead .drives, .conttop .blocks .pichead .bitumen, .conttop .blocks .pichead .engine, .conttop .blocks .pichead .disk {
        background-image: url("../img/sprites_auto.png"); }
      .conttop .blocks .pichead .chair, .conttop .blocks .pichead .bed, .conttop .blocks .pichead .carpeting, .conttop .blocks .pichead .linoleum, .conttop .blocks .pichead .vacuum, .conttop .blocks .pichead .facade {
        background-image: url("../img/sprites_bed.png"); }
      .conttop .blocks .pichead .bg_picture {
        display: block;
        margin: auto; }
      .conttop .blocks .pichead .sofa {
        background-position: 0 0;
        width: 84px;
        height: 44px; }
      .conttop .blocks .pichead .auto {
        background-position: 0 -55px;
        width: 87px;
        height: 48px; }
      .conttop .blocks .pichead .clean_carpet {
        background-position: 0 -110px;
        width: 62px;
        height: 49px; }
      .conttop .blocks .pichead .window {
        background-position: 0 -165px;
        width: 79px;
        height: 64px; }
      .conttop .blocks .pichead .general_clean {
        background-position: -100px 0;
        width: 56px;
        height: 59px; }
      .conttop .blocks .pichead .vestibule_carpets {
        background-position: -100px -70px;
        width: 58px;
        height: 56px; }
      .conttop .blocks .pichead .carwash {
        background-position: 0 0;
        width: 95px;
        height: 71px; }
      .conttop .blocks .pichead .armchair {
        background-position: -110px 0;
        width: 53px;
        height: 74px; }
      .conttop .blocks .pichead .tire {
        background-position: -80px -160px;
        width: 77px;
        height: 47px; }
      .conttop .blocks .pichead .drives {
        background-position: 0 -80px;
        width: 60px;
        height: 67px; }
      .conttop .blocks .pichead .disk {
        background-position: -80px -80px;
        width: 67px;
        height: 67px; }
      .conttop .blocks .pichead .bitumen {
        background-position: 0 -150px;
        width: 65px;
        height: 65px; }
      .conttop .blocks .pichead .engine {
        background-position: -80px -160px;
        width: 77px;
        height: 47px; }
      .conttop .blocks .pichead .chair {
        background-position: 0 0;
        width: 63px;
        height: 53px; }
      .conttop .blocks .pichead .bed {
        background-position: -70px 0;
        width: 75px;
        height: 48px; }
      .conttop .blocks .pichead .carpeting {
        background-position: 0 -70px;
        width: 67px;
        height: 58px; }
      .conttop .blocks .pichead .linoleum {
        background-position: -70px -65px;
        width: 80px;
        height: 59px; }
      .conttop .blocks .pichead .vacuum {
        background-position: 0 -135px;
        width: 56px;
        height: 65px; }
      .conttop .blocks .pichead .facade {
        background-position: -75px -130px;
        width: 64px;
        height: 74px; }
      .conttop .blocks .pichead .tail, .conttop .blocks .pichead .tail-other {
        background-image: url("../img/sprites.png"); }
      .conttop .blocks .pichead .old, .conttop .blocks .pichead .new {
        position: absolute; }
      .conttop .blocks .pichead .old {
        top: 5px;
        right: 33px; }
      .conttop .blocks .pichead .old .price {
        float: left;
        padding-top: 3px;
        padding-right: 10px;
        padding-left: 9px;
        padding-bottom: 3px;
        font-style: italic;
        font-size: 12px;
        color: #fff;
        -o-text-decoration: line-through;
        text-decoration: line-through;
        background-color: #ca5c3f; }
      .conttop .blocks .pichead .old .tail {
        float: left;
        display: inline-block;
        width: 6px;
        height: 24px;
        background-position: -100px -140px; }
      .conttop .blocks .pichead .new {
        top: 29px;
        right: 12px; }
      .conttop .blocks .pichead .new .price {
        float: left;
        padding-top: 7px;
        padding-right: 10px;
        padding-left: 13px;
        padding-bottom: 6px;
        font-size: 16px;
        color: #fff;
        background-color: #37c890; }
      .conttop .blocks .pichead .new .tail {
        float: left;
        display: inline-block;
        width: 8px;
        height: 31px;
        background-position: -120px -140px; }
    .conttop .blocks .labe, .conttop .blocks .text {
      text-align: center; }
    .conttop .blocks .labe {
      margin-top: 17px;
      margin-bottom: 22px;
      font-size: 18px; }
    .conttop .blocks .text {
      font-family: "PT Serif", serif;
      font-size: 12px; }
  .conttop .about_carpets {
    margin-top: 30px;
    margin-right: 11px;
    margin-bottom: 10px;
    margin-left: 27px; }

.labe {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #367196; }

.contbot {
  padding-right: 20px;
  padding-left: 23px;
  background-color: #80afcd; }
  .contbot .premium {
    float: left;
    width: 293px;
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 28px; }
    .contbot .premium:nth-child(3n) {
      margin-right: 0; }
    .contbot .premium .inside {
      padding-top: 35px;
      padding-right: 15px;
      padding-bottom: 61px;
      padding-left: 15px;
      background-color: #fff;
      -webkit-box-shadow: 0 4px 4px gray;
      -moz-box-shadow: 0 4px 4px gray;
      box-shadow: 0 4px 4px gray; }
    .contbot .premium .tip {
      position: relative;
      padding-top: 18px;
      width: 145px;
      height: 70px;
      margin: auto;
      background-color: #fff;
      border-top-left-radius: 150px;
      border-top-right-radius: 150px;
      -webkit-box-shadow: 0 -1px 1px gray;
      -moz-box-shadow: 0 -1px 1px gray;
      box-shadow: 0 -1px 1px gray; }
      .contbot .premium .tip .stars, .contbot .premium .tip .sale, .contbot .premium .tip .pro {
        margin: auto;
        background-image: url("../img/sprites2.png");
        background-repeat: no-repeat; }
      .contbot .premium .tip .stars {
        background-position: 0 0;
        width: 98px;
        height: 60px; }
      .contbot .premium .tip .sale {
        background-position: -110px 0;
        width: 67px;
        height: 67px; }
      .contbot .premium .tip .pro {
        background-position: -185px 0;
        width: 87px;
        height: 61px; }
    .contbot .premium .labe {
      font-size: 18px;
      text-align: center; }
    .contbot .premium .text {
      margin-top: 23px;
      font-family: "PT Serif", serif;
      font-size: 12px;
      text-align: center; }

.area {
  padding-top: 31px;
  padding-right: 52px;
  padding-bottom: 2px;
  padding-left: 48px;
  background-color: #367196;
  color: #fff; }
  .area .form {
    display: inline-block; }
    .area .form .field, .area .form .call, .area .form .butbuy {
      float: left; }
    .area .form .phonenumb {
      margin-top: 15px; }
  .area .call {
    margin-right: 38px; }
    .area .call p {
      width: 165px;
      line-height: 14px; }
  .area .user, .area .phone {
    width: 193px;
    margin-top: 8px; }
  .area .user {
    margin-right: 7px; }
  .area .phone {
    margin-right: 25px; }
  .area .buy, .area .butbuy p {
    width: 193px; }
  .area .buy, .area .butbuy p {
    font-size: 10px;
    text-align: center; }
  .area .butbuy p {
    margin-top: 10px; }

.call p {
  font-size: 12px; }
.call .phonenumb a[href^="tel"] {
  display: block;
  font-size: 24px; }

.form {
  background-color: #367196; }
  .form input {
    border: none;
    outline: none; }
  .form .field {
    background-color: #9bb8cb; }
    .form .field input {
      padding: 10px 15px;
      color: #fff;
      text-align: left;
      background: none;
      border: none;
      outline: none; }
    .form .field.phone, .form .field.user {
      text-align: right; }
  .form .user {
    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-position: 11px 7px; }
  .form .phone {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: 11px 10px; }
  .form .user input, .form .phone input {
    width: 65.5%;
    background-repeat: no-repeat;
    background-position: 125px 7px; }
  .form .buy {
    text-align: center; }
    .form .buy input {
      width: 100%;
      margin-top: 5px;
      padding: 13px 0;
      font-weight: 700;
      font-size: 14px;
      color: #367196;
      background: #fff;
      box-shadow: 0px 3px 3px #254e68; }
  .form .butbuy p {
    line-height: 12px;
    text-transform: uppercase; }

.footer {
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 16px;
  padding-left: 38px;
  background-color: #80afcd; }
  .footer .about, .footer .footer-menu {
    float: left; }
  .footer .contacts {
    float: right;
    text-align: right; }
  .footer .footer-menu {
    margin-left: 96px; }
  .footer li {
    font-size: 12px;
    line-height: 25px; }
  .footer li, .footer a[href="tel"] {
    color: #ffffff;
    -o-text-decoration: none;
    text-decoration: none; }
    .footer li a:not([href^="tel"]), .footer a[href="tel"] a:not([href^="tel"]) {
      color: #367196;
      -o-text-decoration: underline;
      text-decoration: underline; }
      .footer li a:not([href^="tel"]):hover, .footer a[href="tel"] a:not([href^="tel"]):hover {
        -o-text-decoration: none;
        text-decoration: none; }

a[href="tel"] {
  cursor: default; }

input[type="submit"] {
  cursor: pointer; }

::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

#yandex_map, .map_contacts {
  float: left;
  margin-top: 20px; }

#yandex_map {
  margin-bottom: 35px; }

.map_contacts table {
  width: 190px;
  margin-top: 35px;
  margin-right: 70px;
  margin-left: 35px; }
  .map_contacts table tr {
    vertical-align: top; }
  .map_contacts table .unity {
    padding-top: 15px; }
  .map_contacts table .bold {
    font-weight: 600;
    padding-right: 10px; }
  .map_contacts table a {
    -o-text-decoration: underline;
    text-decoration: underline;
    color: #366f96; }
  .map_contacts table span {
    color: #bd4444; }

/*# sourceMappingURL=styles.css.map */
